<div class="footer-view" id="footer">
  <!--<div class="nav-map"><a href="/activity/detail/aboutUs">关于金色百年</a><a href="/activity/detail/aboutUs">联系我们</a></div>-->
  <!--<div class="er-wei-ma"><span>关注金色百年</span><img src="http://img2.jsbn.com/static/QR_Codes.jpg@1e_80w_80h_1c_0i_1o_90Q_1x" onerror="this.src='//placehold.it/80x80'" /></div>-->
  <!--<div class="nav-map nav-map-1"><a>渝ICP备15007161号-1</a><a href="">版权说明</a><a href="">服务条款</a></div>-->
  <div class="bannar-all-box">
    <div class="slider-box bannar">
      <img src="//img2.jsbn.com/static/footer-01.jpg@95q">
      <img src="//img2.jsbn.com/static/footer-address.jpg@95q">
    </div>
  </div>
  <div id="timeDiv" class="nav-map nav-map-1"></div>
  <div class="nav-map nav-map-1">增值电信业务经营许可证：渝ICP备15007161号-1</div>
  <script type="text/javascript">
    function show(){
      var date = new Date(); //日期对象
      var time = "©Copyright 2013-";
      time += date.getFullYear();
      time += " 版权所有 金色百年婚礼服务集团有限公司"
      document.getElementById("timeDiv").innerHTML = time; //div的html是显示这个字符串
    }
    show();
  </script>
</div>
