<div class="home">
  <div class="header-mian-eav">
    <div class="top-block"><img src="/img/nav-top-block.jpg" /></div>
    <div class="title-block">
      <div class="layout-center-box">
        <span class="word">全国首家婚礼全流程优质服务商</span>
        <span class="feature">时尚 · 个性 · 品质 丨 省时 · 省心 · 省钱</span>
        <span class="num">400-805-9289</span>
      </div>
    </div>
  </div>
  <div class="nav-main-box-eav ">
    <div class="layout-center-box">
      <a href='/home'>
        <img src="/img/logo.png" class="logo" />
      </a>
      <div class="item-box" id='J_Nav'><%- reactNavMarkup %></div>
    </div>
  </div>
</div>
